.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#timer{
    display: flex;
    justify-content: flex-start;
}
#leaderboard{
}
.answer{
    margin: 20px;
    display: block;
}